html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

#app {
  height: 100%;
}

.el-breadcrumb {
  height: 30px;
  line-height: 30px;
}

.input-with-select {
  width: 350px;
  margin-bottom: 5px;
}
